:root{
  --color-accent: #7FA6F8;
  --color-text: rgba(255, 255, 255, 0.87);
  --color-background: #050B1C;
}

@media (prefers-color-scheme: light) {
  :root{
    --color-accent: #7FA6F8;
    --color-text: #213547;
    --color-background: #ffffff;
  }
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body,html{
  margin:0;
  padding:0;
}

html{
  scroll-behavior: smooth;
}

#app {
  max-width: 1280px;
  width:100vw;
  margin: 0 auto;
  padding: 0;
}



